build/
libs/openvr/samples
libs/openvr_newer
tools/sort_points/bin/
tools/sort_points/obj/
tools/sort_points/.vs
tools/sort_points/Sort_Frugal/Debug
tools/sort_points/Sort_Frugal/Release
tools/sort_points/Sort_Frugal/.vs
imgui.ini
program*.cubin
libs/cccl-main/.devcontainer
libs/cccl-main/.github
libs/cccl-main/benchmarks
libs/cccl-main/ci
libs/cccl-main/cmake
libs/cccl-main/docs
libs/cccl-main/examples
libs/cccl-main/lib
libs/cccl-main/test
libs/cccl-main/thrust
libs/cccl-main/cub/benchmarks/
libs/cccl-main/libcudacxx/test/
recording_*.bin
test.ply
cuda_compile_time.txt
consolefile.txt
consolefile_errors.txt
resources/images/symbols.kra~
resources/images/symbols.png~
heightmap_colors.png
heightmap_colors_median.png
ca13_40m_heightmap_colors_median.png~
ca13_40m_heightmap_colors_median.png
ca13_40m_heightmap_colors.png
ca13_10m_heightmap_colors_median.png
test.splatsy
test - Kopie (2).splatsy
test - Kopie.splatsy
defaultscene.splatsy
defaultscene.splatsy.old
defaultscene.splatsy.old2
defaultscene.splatsy.old3
cubins_1/gaussians.cubin
cubins_1/helpers.cubin
cubins_1/lines.cubin
cubins_1/points.cubin
cubins_1/triangles.cubin
cubins/gaussians.cubin
cubins/helpers.cubin
cubins/lines.cubin
cubins/points.cubin
cubins/triangles.cubin
savefile/
defaultscene.splatsy_old
defaultscene.splatsy_old3
savefile_ref/
savefile_lantern/
splatmodels_lantern/
splatmodels/
splatmodels_magicwand_leaves/
splatmodels_magicwand_pot/
splatmodels_test/
splatmodels_squirrel/
splatmodels_inria_benchmark/
doodles/node_modules/
splatmodels_flowers/
splatmodels_cleanup/
splatmodelstest/
dump.csv
dump.txt
doodles/dump_1.csv
doodles/dump_2.csv
doodles/dump_3.csv
doodles/out.jpg
doodles/out.png
doodles/test.jpg
doodles/test.ppm
dump_garden_tile*.csv
splatmodels_3dgs_perspcorrect/
gaussians.ply
gaussians_w_pca.ply
splatmodels_3dgs_and_perspcorrect/
splatmodels_garden/
